#site-header-inner {
  margin: 0;
}

#main #content-wrap {
  padding: 0 !important;
}

#site-navigation-wrap .dropdown-menu > li > a {
  font-size: 16px;
  transition: font-size 0.3s;
}

#site-navigation-wrap .menu-item:not(.btn):hover a {
  font-size: 13px;
  font-weight: bold;
}

#site-header #menu-item-50 span.text-wrap {
  background-color: #dc9f96;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-align: center;
  align-items: center;
  padding: 0;
}

#site-header #menu-item-50 span.text-wrap:hover {
  background-color: #c02e44;
  font-size: 16px;
}

.dropdown-menu > li.btn > a > span {
  height: 80px;
  width: 236px;
  display: block;
}

/* HOME PAGE */

#site-navigation-wrap {
  height: 80px;
}

.wp-block-button__link {
  background-color: #dc9f96;
}

/* .symbols-container button {
  background-color: #dc9f96;
} */
.banner-container {
  width: 100% !important;
  max-width: 100% !important;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  /* border-radius: 0 0 50% 50% / 0 0 50px 50px; */
  border-bottom: 10px solid #e3d9d0;
  border-bottom-left-radius: 50% 50px;
  border-bottom-right-radius: 50% 50px;
}

.middle-img {
  position: absolute;
  z-index: 5;
}

.right-img {
  position: relative;
  z-index: 1;
}

.home-text-container {
  background-color: white;
  padding-bottom: 82px;
  padding-top: 130px;
}

.title-gout {
  padding-top: 58px;
}

.container-gout-img {
  display: flex;
  flex-wrap: wrap;

  padding-top: 50px;
  gap: 30px;
  width: 70% !important;
}

.img-gout {
  width: 100%;
  gap: 30px;
  box-sizing: border-box;
}

.gout-container-4 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 27px;
  flex-wrap: wrap;
  align-items: center;
}

.command-gout-img {
  width: 193px !important;
  box-sizing: border-box !important;
}

.command-gout-img img {
  max-width: 100%;
  width: 100%;
}

.home-btn {
  padding-top: 57px;
  padding-bottom: 45px;
}

.home-btn a {
  padding: 20px 56px 20px 56px;
  border-radius: 5px;
  font-size: 15px;
}

.testimony-title p {
  padding: 133px;
  padding: 84px;
}

.container-gout {
  border-radius: 0 0 50% 50% / 0 0 15px 15px;
}

.testimony-container {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding-bottom: 130px;
}

.testimony-inner-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.testimony-img {
  width: 100%;
  height: auto;
}

.home-title {
  padding-top: 105px;
}

/* NOUS RENCONTRER  */

.nous-container {
  display: flex;
  justify-content: center;
  border-radius: 0 0 50% 50% / 0 0 50px 50px;
}

.nous-container-title {
  padding-top: 186px;
  padding-bottom: 100px;
  justify-content: center;
  width: 60%;
}

.nous-subtitle {
  padding-top: 27px;
  width: 70%;
}

.nous-container-img {
  position: absolute;
  z-index: 11;
  left: -410px;
  top: 57px;
  width: 100%;
}

/* #wpforms-submit-73 {
  width: 200px;
  height: 55px;
  border-radius: 5px;

} */

.contact-form-title {
  padding-top: 66px;
}

.contact-form {
  z-index: 2;
}

.wpforms-field-large {
  width: 383px !important;
  height: 70px !important;
  border: none !important;
}

#wpforms-73-field_3 {
  height: 235px !important;
}

.contact-btn {
  width: 200px !important;
  height: 55px !important;
  text-transform: capitalize !important;
  font-size: 15px !important;
  font-weight: normal !important;
}

.deco-img-container {
  position: relative;
  width: 100%;
  height: auto;
}

.contact-form-img {
  position: absolute;
  top: 568px;
  left: -188px;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

.equipe-img {
  position: absolute;
  z-index: 10;
  top: 194px;
  left: 650px;
  width: 100%;
  object-fit: cover;
}

.equipe {
  display: flex;
  justify-content: space-evenly !important;
  /* gap: 157px; */
  margin-top: 52px;
  padding-top: 52px;
  padding-bottom: 80px;
  width: 100%;
}

.baner-txt {
  display: flex;
  flex-direction: column;

  text-align: center;
  /* position: absolute; */
  line-height: 15px;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container-command-imgs {
  position: relative;
  overflow: hidden;
  gap: 26px;
}

p {
  margin: 0 !important;
}

/* .is-style-wide {
  width: 100%;
} */

#wpforms-form-93 {
  position: relative;
  color: white;
}

.precommand-form-btn {
  width: 210px !important;
  height: 60px !important;
  text-transform: capitalize !important;
  word-break: initial !important;
  font-size: 15px !important;
  font-weight: normal !important;
  margin-top: 40px !important;
}

.command-form-1 {
  margin: 0 auto;
  padding-bottom: 93px;
}

.wpforms-field-medium {
  width: 100%;
  max-width: 383px !important;
  height: 70px !important;
}

.wpforms-submit-container {
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.command-form-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.vertical-line {
  width: 2px !important;
  height: 500px;
  margin: 0 auto;
  background-color: white;
  border: none;
  position: absolute;
  left: 50%;
}

/* .wp-container-74.wp-container-74 {
  flex-wrap: nowrap;
  justify-content: start !important;
  gap: 197px;
  padding-left: 172px;
  width: fit-content;
  margin-top: 55px;
} */

.wp-container-74.wp-container-74 p {
  padding-left: 50px;
}

/* COMMANDER */

.page-id-48 {
  background-color: #3b8e46;
  color: white !important;
}

.addres-form label {
  color: white !important;
}

.wpforms-one-half {
  margin-left: 90px !important;
}

.wpforms-container .wpforms-one-half {
  width: auto !important;
}

.commander-title {
  padding-top: 70px;
}
.commander-subtitle {
  padding-top: 40px;
  padding-bottom: 40px;
}
.quantity-container {
  display: flex;
  gap: 0;
  width: fit-content;
  height: auto;
}

.symbols-container {
  margin: 0;
  background-color: #dc9f96;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 31px;
  height: 56px;
  display: flex;
  flex-direction: row;
  gap: 0;
}

.zero-container {
  align-items: center;
  justify-content: center;
  display: flex;

  background-color: white;
  width: 51px !important;
  height: 56px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: "Inter";
}

.plus-container {
  border-bottom: white solid 1px;
  width: 31px;
}

.wp-container-content-26 {
  width: 100%;
}

.commande-cont-btns {
  margin-top: 15px;
  display: flex;
  gap: 11px;
  width: 193px;
  box-sizing: border-box;
}

.command-btn a {
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  word-break: initial;
}

.command-col {
  width: 193px;
  box-sizing: border-box;
}

.main-container-commande {
  width: 100%;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  padding-bottom: 40px;
  margin-top: 70px !important;
}

/* Tablet styles (min-width 768px) */
@media (min-width: 768px) and (max-width: 1120px) {
  .container-gout-img {
    width: 100%;
  }
  .img-name-gout {
    width: 40%;
    flex: 1;
    flex-basis: 270px !important;
    min-height: 196px !important;
  }
  .gout-name {
    font-size: 30px !important;
  }

  .equipe-img {
    display: none;
  }

  .nous-container-img {
    left: -250px;
  }

  .gout-container-4 {
    max-width: 100% !important;
  }
}

/* Mobile Phones (Portrait) */
@media (max-width: 480px) {
  /* Styles for mobile phones in portrait mode */
}

/* Mobile Phones (Landscape) and Tablets (Portrait) */
@media (min-width: 481px) and (max-width: 767px) {
  /* Styles for larger smartphones in landscape mode and tablets in portrait mode */
}
